{% extends "base.html"%}

{% block title %}
About Mickle Nguyen
{% endblock title%}

{% block content %}

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>My name is Michael, but everyone calls me Mickle.</p>
        <p>I live Oakland, grew up in Los Angeles.</p>
        <p>I can not live without music. I am a musician, and play guitar.
        <p>I love meeting new people and developing friendships.</p>
        <p>And I think there is nothing better than great company with a great meal and a couple of drinks. </p>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>My github repos</h1>
            <ol>
            {% for repo in github_repos %}
                <li>{{ repo.name }}</li>
            {% endfor %}
            </ol>
          </div>
        </div>
      </div>


    </section>

  </div>

{% endblock content%}

