{% extends "base.html"%}

{% block title %}
GitHub
{% endblock title%}

{% block content %}

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="github">

      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="mb-5">My GitHub Repros</h2>
            <ol>
            {% for repo in github_repos %}
                <li>{{ repo.name }}</li>
            {% endfor %}
            </ol>
          </div>
        </div>
      </div>


    </section>

  </div>

{% endblock content%}

