{% extends "base.html"%}

{% block title %}
Mickle Nguyen
{% endblock title%}

{% block content %}

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">{{ first_name|safe }}
        <span class="text-primary">{{ last_name|safe }}</span>
      </h1>
      <div class="subheading mb-5">3510 Kempton Way · Oakland, CA 94611 · (818) 279-5432 ·
        <a href="mailto:mickletnguyen@gmail.com">mickletnguyen@gmail.com</a>
      </div>
      <p>Demonstrating experience with product support, QA testing, site reliability, internal system tools, SQL and Linux/Unix.</p>
      <p>Self-starter and team player with excellent communication and organization skills, cross-functional collaboration experience, attention to detail and demonstrated work ethic.</p>
      <p>More than seven years of product support and customer service in a wide variety of settings including e-commerce, engineering, behavioral therapy and film production.</p>

</div>

{% endblock content %}